*{
    margin: 0;
    padding: 0;
}

/* NavBar */
.header1{
    background-color: rgb(40, 40, 40);
}
/* NavBar */

.carrusel-dimension{
    width: 80%;
    margin: 0 auto;
}

/*.menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.section{
    color: rgb(221, 196, 253);
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}

.div{
    width: 80%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fotos{
    display: flex;
    justify-content: center;
}

.fotito{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(129, 103, 151);
}*/

.pie{
    background-color: rgb(0, 0, 0);
}

.logopie{
    width: 100%;
    display: flex;
    justify-content: center;
}

.section2{
    height: 180px;
    background-color: rgb(27, 36, 48);
}

.div2{
    color: white;
    font-family: 'Permanent Marker', cursive;
}

.div3{
    color: azure;
    font-family: 'Permanent Marker', cursive;
}

/* Empieza pulseras */

.fotos2{
    background-color: rgb(81, 85, 126);     
    width: 100%;
    border: solid 1px black;
}

.pulsera-1{
    display: flex;
    justify-content: center;
    padding: 5px;
}   

.vender{
    border: solid black 1px;
}

.boton{
    background-color: rgb(27, 36, 48);
    color: rgb(81, 85, 126);
}

/* Empieza contacto */

.section3{
    height: 320px;
    background-color: rgb(27, 36, 48);
    border: 3px solid black;
} 













